{% extends 'layout.html' %}

{% block content %}
<h2>PO#{{ po.id }} — {{ po.supplier.name }}</h2>

<p>Status: <strong>{{ po.status }}</strong></p>

{% if po.status == "draft" %}
<a href="{% url 'po_mark_ordered' po.id %}" class="btn btn-warning">Mark as Ordered</a>
{% endif %}

{% if po.status == "ordered" %}
<a href="{% url 'po_mark_received' po.id %}" class="btn btn-success">Mark as Received</a>
{% endif %}

<hr>

<h4>Items</h4>

<table class="table table-dark table-striped">
    <tr>
        <th>Book</th>
        <th>Qty</th>
        <th>Cost</th>
    </tr>

    {% for item in items %}
    <tr>
        <td>{{ item.book.title }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.unit_cost }}</td>
    </tr>
    {% endfor %}
</table>

{% if po.status != "received" %}
<h4>Add Item</h4>
<form method="post">
    {% csrf_token %}
    {{ item_form.as_p }}
    <button class="btn btn-primary">Add Item</button>
</form>
{% endif %}

{% endblock %}
