{% extends 'layout.html' %}

{% block content %}
<h2 class="my-3">📦 Purchase Orders</h2>

<a href="{% url 'po_create' %}" class="btn btn-primary mb-3">Create PO</a>

<table class="table table-dark table-striped">
    <tr>
        <th>ID</th>
        <th>Supplier</th>
        <th>Status</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

    {% for p in pos %}
    <tr>
        <td>PO#{{ p.id }}</td>
        <td>{{ p.supplier.name }}</td>
        <td>{{ p.status }}</td>
        <td>{{ p.created_at|date:"Y-m-d" }}</td>
        <td>
            <a class="btn btn-sm btn-info" href="{% url 'po_detail' p.id %}">View</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
